* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat";
}

/* MAIN */

/* SECTION1 */

/* EDITOR */

#editor {
    background-color: #e3e3e3;
}

.canvas-container {
    /* align-items: center; */
    justify-content: center;
    /* margin: 0 50px; */
    padding: 30px 47px;
}

#canvas:hover {
    cursor: grab;
}

/* btn */

#canvas-bar {
    text-align: center;
    margin: 0 74px;
}

/* ------------------------------------------ */

#meme-text {
    width: 100%;
    padding: 15px;
    grid-area: input;
}

/* ------------------------------------------ */

.move-text-up {
    grid-area: arrows;
}

#editor input {
    border-radius: 0.5rem;
    border: none;
}

.btn-menu-toggle-hidden {
    display: none;
}

.btn {
    margin: 15px 10px;
    width: 56px;
    height: 56px;
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    transition: All 250ms ease;
}

.btn:hover {
    cursor: pointer;
    background-color: wheat;
}

#font-kind {
    align-self: center;
    margin: 15px 10px;
    width: 220px;
    border-radius: 10px;
    height: 50px;
    border: none;
    text-align: center;
}

.emoji-container {
    background-color: white;
    border-radius: 15px;
    height: 140px;
}

.meme-copy-container {
    width: 100%;
}

.meme-copy-container .btn {
    color: white;
    font-size: 0.8rem;
    width: 110px;
    background-color: #ff7f00;
    transition: All 0.3s ease;
}

.meme-copy-container .btn:hover {
    background-color: #cc6b09;
    width: 115px;
}

.color-img {
    max-width: 57px;
    background-color: white;
    border-radius: 10px;
    margin: 15px;
}

.font-color {
    padding: 5px;
    border: none;
    position: absolute;
    width: 56px;
    height: 56px;
    mix-blend-mode: hue;
}

/* removes default styling from input color element */

::-webkit-color-swatch {
    border: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-moz-color-swatch, ::-moz-focus-inner {
    border: none;
}

::-moz-focus-inner {
    padding: 0;
}

/* FOOTER */

.footer-container {
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 246px;
    background-color: #ff7f00;
}

@media (max-width: 800px) {
    .search-input-bar {
        display: flex;
        flex-direction: column;
    }
    #searches-bar {
        display: flex;
    }
    #searches-bar>* {
        margin: 5px;
        padding: 5px;
        font-size: 1rem;
        font-family: monospace;
    }
    .canvas-container {
        flex-direction: column;
        gap: 10px
    }
    .flex.space-between {
        justify-content: space-between;
    }
    .main-layout {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }
    .btn-menu-toggle-hidden {
        display: inline;
        margin: 5px;
        font-size: 2rem;
        position: absolute;
        background-color: #ff7f00;
        border: none;
        color: white;
        right: 0;
        top: 0;
    }
    .nav-bar {
        position: fixed;
        top: 66px;
        right: 0;
        /* margin: 0 auto; */
        flex-direction: column;
        min-width: 50%;
        background-color: rgb(220 220 220 / 90%);
        height: 100%;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 10;
    }
    .nav-bar li {
        width: 100%;
        background-color: #ff7f00;
    }
    .nav-bar a {
        width: 50%;
    }
    body.menu-open .nav-bar {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
}

@media (max-width: 500px) {
    .logo {
        height: 20px;
        width: 100px;
    }
    .btn {
        margin: 3px 2px;
        width: 30px;
        height: 30px;
    }
    .font-style-container {
        display: flex;
    }
    #meme-text{
        width: 100px;
    }
    #font-kind {
        flex-basis: 60%;
        margin: 3px 2px;
        width: 100px;
        border-radius: 5px;
        height: 30px;
    }
    .font-style {
        /* flex-basis: 25%; */
    }
    .color-img {
        flex-basis: 25%;
        max-width: 30px;
        background-color: white;
        border-radius: 5px;
        margin: 3px;
    }
    .font-color {
        padding: 5px;
        position: absolute;
        width: 30px;
        height: 30px;
    }
    .emoji-container {
        width: 200px;
        height: 150px;
    }
    .meme-copy-container .btn {
        font-size: 0.5rem;
        width: 55px;
    }
    .meme-copy-container .btn:hover {
        width: 60px;
    }
}